@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global renkler */
:root {
  --background: #0e0d0d;
  --foreground: #f0ecec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f7f4f4;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  color: #111827; /* koyu yazı */
}

